aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
hachoir
lyricsgenius
py-tgcalls
wget
python-dotenv
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
requests
rich
dnspython
git+https://github.com/Mehmetbaba55/Yapmayanariz 
tgcrypto
gitpython
heroku3
